body {
  background-color: #FFFFF0	;
  width: 100%;
}
.header {
  width: 90%;
  margin: auto;
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: Roboto;
  line-height: 32px;
}
.content {
  width: 100%;
  margin: auto;
  color: black;
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-weight: normal;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__input-container {
  width: 90%;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin: 20px 0 20px;
}

.form-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-result__input {
  width: 90%;
  height: 30px;
  border: none;
  border-bottom: 1px solid black;
  background-color: #FFFFF0	;
  color: black;
  text-align: center;
}
.form__input {
  width: 90%;
  height: 30px;
  text-align: center;
  border: none;
  background-color: #FFFFF0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form__input:invalid {
  border-bottom: 2px solid red;
}
.form__input:valid {
  border-bottom: 2px solid #006400;
}
.form__input-list {
  width: 90%;
  border: none;
  margin-top: 70px;
  height: 30px;
  background-color: #FFFFF0;
}
.form__input-container input[type="radio"] {
  width: 25px;
  height: 25px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
}
.form__description {
  width: 90%;
  font-size: 16px;
  margin: 20px 0 10px 0;
}

.form__button {
  display: block;
  height: 40px;
  width: 90%;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  margin-bottom: 30px;
  border: none;
}
.form__button:active {
  background-color: #808000	;
  border: none;
}

.footer {
    padding-left: 20px;
    display: flex;
    justify-content: start;
    height: 30px;
    color: black;
    
}
.footer__copyright {
    font-family: Roboto;
    font-size: 14px;
    margin: 0;
}